* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.top-navigation + div {
  padding: 20px;
}

#root {
  flex: 1 0 auto;
}

.footer {
  margin: 0;
  padding: 20px;
  background-color: #76c7c0;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .top-navigation + div {
    padding: 0 5px;
  }
}
